*,
*::before,
*::after {
  box-sizing: border-box;
  vertical-align: middle;
}

body {
  background-color: $dark;
  font-family: Montserrat, Noto Sans TC;
  cursor: default;
}

section {
  padding: 144px 0;
  @media (max-width: 576px) {
    padding: 80px 0;
  }
}

nav{
  z-index: 99;
}

img {
  width: 100%;
  height: auto;
}

ul,
ol,
li,
p {
  list-style: none;
  margin: 0;
  padding: 0;
  letter-spacing: 0.05rem;
}

//container

@media (max-width: 1920px) {
  .container {
    padding: 0 120px;
  }
  .container-introduction{
    padding: 0 12px;
  }
}

@media (max-width: 1199px) {
  .container {
    padding: 0 12px;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 24px;
  }
}

.project {
  &-banner {
    height: 344px;
  }

  // introduction
  &-introduction {
    padding: 96px 0;

  }
}

// hr margin
hr {
  @media (max-width: 990px) {
    margin: 64px 0;
  }
}

.custom-cursor {
  position: absolute;
  width: 64px;
  height: 64px;
  background-image: url('/assets/images/cursor.svg'); /* 你的游標圖片 */
  opacity: 0; /* 預設隱藏 */
  background-size: contain;
  pointer-events: none; /* 不影響點擊 */
  z-index: 9999;
  transition: transform 0.2s ease-out, opacity 0.2s ease-in-out;
  transform: translate(-50%, -50%);
}

// loading
/* 讓整個網站在 Loading 期間隱藏 */
/* 🚀 確保網頁內容預設隱藏 */
.loading-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out;
}

/* Logo Loading 畫面 */
/* 🚀 確保網頁內容預設隱藏 */
.loading-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out; /* 讓頁面淡入 */
}

/* Logo Loading 畫面 */
.logo-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.8s ease-in-out; /* 讓 Loading 淡出 */
}

.logo-loading img {
  width: 120px;
  height: auto;
}