<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold text-light py-3" href="../../index.html">XUANNN</a>
    <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-symbols-outlined fs-1">
        menu
        </span>
    </button>
    <div class="collapse navbar-collapse pt-lg-0 pt-3" id="navbarNav">
      <ul class="navbar-nav ms-auto fw-medium d-flex align-items-center">
        <li class="nav-item mb-lg-0 mb-2">
          <a class="nav-link px-0" href="#work">WORK</a>
        </li>
        <li class="nav-item mb-lg-0 mb-3">
          <a class="nav-link px-0" href="../assets/resume.pdf" download="陳子瑄履歷 Resume">RESUME</a>
        </li>
        <li class="nav-item mb-lg-0 mb-3 contact btn btn-outline-light rounded-pill ms-lg-3 ms-0">
          <a class="nav-link px-0" href="#footer">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>