<footer class="footer bg-dark text-center" id="footer">
  <div class="container">
    <h5 class="text-light fs-5">
      讓我們一起把想像變成現實
    </h5>
    <div class="fs-1 fw-bold text-light mb-4">
      LET US CREATE！
    </div>
    <ul class="d-flex justify-content-center align-items-center flex-wrap">
      <li class="px-3 border-end border-light">
        <a href="mailto:xuannn0915@gmail.com" class="d-flex align-items-center">
          <img src="../assets/images/email.svg" alt="Email">
          <p class="text-light ms-2">Email</p>
        </a>
      </li>
      <li class="px-3 border-end border-light">
        <a href="https://www.pinterest.com/xuannn0915/_created/" class="d-flex align-items-center">
          <img src="../assets/images/pinterest.svg" alt="Pinterest">
          <p class="text-light ms-2">Pinterest</p>
        </a>
      </li>
      <li class="px-3 mt-lg-0 mt-3">
        <a href="https://www.linkedin.com/in/xuannn/" class="d-flex align-items-center">
          <img src="../assets/images/linkedin.svg" alt="LinkedIn">
          <p class="text-light ms-2">LinkedIn</p>
        </a>
      </li>
    </ul>
    <p class="text-secondary fs-6">Layout Inspired by Yahsin Sung <br>Coded by TzuHsuan Chen ｜ © 2025 Tzu Hsuan Chen</p>
  </div>
</footer>