.cloud-miner-tech {
  .banner-img {
    height: 100%;
    object-fit: cover;
  }

  .banner-info {
    background: linear-gradient(
      90deg,
      #234a4a 25.49%,
      rgba(35, 74, 74, 0.2) 100%
    );
    padding: 120px 0;
  }

  video{
    width: 28%;
    top: 12%;
    right: 6%;
  }
}
