.preventive-healthcare {
  .banner-img {
    object-fit: cover;
    width: 80%;
    height: 100%;
    display: block;
    margin-left: auto;
  }

  .banner-info {
    background: linear-gradient(
      90deg,
      #415a90 25.49%,
      rgba(65, 90, 144, 0.2) 100%
    );
    padding: 120px 0;
  }

  .img-detail {
    p {
      width: 28%;
    }
  }
}
