<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <!-- navbar -->
    <%- include('./layout/navbar'); -%>


    <div class="cloud-miner-tech pt-lg bg-light">
      <!-- banner -->
      <section class="project-banner p-0 overflow-hidden position-relative">
        <img src="../assets/images/雲礦機/雲礦機.jpg" alt="banner" class="banner-img">
        <div class="banner-info h-100 w-100 position-absolute top-0">
          <div class="container">
            <h1 class="fs-1 text-light fw-bold mb-2">雲端礦機｜CLOUD MINER TECH</h1>
            <p class="text-light">“礦機線上交易無負擔，即時數據幫助你正確投資”</p>
          </div>
        </div>
      </section>

      <!-- introduction -->
      <section class="project-introduction bg-gray">
        <div class="container container-introduction">
          <div class="row justify-content-between align-items-center gx-lg-lg gx-0">
            <!-- introduction video -->
            <div class="col-xl-7">
              <video src="../assets/images/雲礦機/雲礦機.mp4" autoplay loop class="introduction-video w-100"></video>
            </div>
            <!-- introduction description -->
            <div class="col-xl-5">
              <div
                class="introduction-content border-bottom pb-lg-md pb-4 mb-4"
              >
                <div class="overview mb-lg-6 mb-xs">
                  <div class="title text-dark mb-2 fw-medium">
                    簡介 INTRODUCTION
                  </div>
                  <p class="desc fs-6">
                    雲端礦機為B2B/B2C的礦機交易平台，主要服務為提供安全、便捷的礦機買賣，輕鬆交易並最大化投資回報。藉由即時市場數據儀表板，協助用戶掌握最佳交易時機。與以往電商不同，專案著重在數據歸納與編排，為了提供直觀、易用的介面，讓用戶能清楚掌握資料動態。
                  </p>
                </div>
                <div class="row flex-lg-row flex-column">
                  <div class="col duration mb-lg-0 mb-xs">
                    <div class="title text-dark mb-2 fw-medium">
                      時程 DURATION
                    </div>
                    <p class="desc fs-6">2024年4月 - 2024年9月</p>
                  </div>
                  <div class="col role">
                    <div class="title text-dark mb-2 fw-medium">
                      角色 MY ROLE
                    </div>
                    <p class="desc fs-6">
                      流程規劃、需求討論、風格提案、線稿製作、網頁視覺
                    </p>
                  </div>
                </div>
              </div>
              <!-- project tags -->
              <ul
                class="project-tags d-flex align-items-center text-success fw-mediu fs-6"
              >
                <li class="me-3"># 虛擬貨幣</li>
                <li class="me-3"># 線上交易平台</li>
                <li># 數據儀表板</li>
              </ul>
            </div>
          </div>
        </div>
      </section>

      <!-- features -->
      <section class="project-features">
      <div class="container">
        <div class="section-title text-center mb-lg-lg mb-5">
          <div class="fs-lg-4 text-success">FEATURES</div>
          <div class="fs-2 fw-bold text-dark">專案特色</div>
        </div>
        <!-- content -->
        <div class="feature-content">
          <!-- feature 01 -->
          <div class="row justify-content-center gx-5">
            <div class="col-xl-5 mb-xl-0 mb-4 py-xl-4">
              <div class="feature-title text-dark fw-bold fs-4 d-flex mb-3">
                <span class="text-teal me-2">#</span>
                不論桌機或手機，資訊一目瞭然
              </div>
              <p class="feature-desc ps-4">
                在數據儀表板的視覺設計上，我們採用模組化的區塊配置，有效區隔不同功能與資訊內容。
                <br>
                <br>
                特別考量跨裝置的使用情境，團隊在行動版介面中進行深度優化，運用放大按鈕尺寸與標籤式設計，確保無論是在桌機或手機上，使用者都能輕鬆閱讀和操作各項功能，享有一致且直覺的使用體驗。
              </p>
            </div>
            <div class="col-xl-7">
              <img src="../assets/images/雲礦機/feature01.jpg" alt="" class="shadow rounded mb-lg-0 mb-5">
            </div>
          </div>

          <hr>

          <!-- feature 02 -->
          <div class="row justify-content-center flex-row-reverse">
            <div class="col-xl-5 mb-xl-0 mb-4 py-xl-4">
              <div class="feature-title text-dark fw-bold fs-4 d-flex mb-3">
                <span class="text-teal me-2">#</span>
                透明公開，即時追蹤，建立可靠的信任關係
              </div>
              <p class="feature-desc ps-4">
                為確保礦機資訊的即時透明，利用選單切換價格計算，依不同規格自動更新報價，並實時顯示庫存狀態，讓用戶掌握最新且完整的資訊做出購買決策。
                <br>
                <br>
                購買完成後，可透過個人專區即時監控礦機運作狀態、挖礦進度以及虛擬貨幣產出等重要數據，全方位的資訊透明化有效提升平台公信力與用戶信賴度。
              </p>
            </div>
            <div class="col-xl-7 position-relative">
              <img src="../assets/images/雲礦機/featrue02.jpg" alt="" class="mb-3 rounded shadow">
              <video src="../assets/images/雲礦機/雲礦機選購切換.mov" class="position-absolute rounded shadow" autoplay loop></video>
              <p class="fs-6 text-center">利用標籤區分礦機狀態，透過數據追蹤累計進度</p>
            </div>
          </div>
        </div>
      </div>
      </section>

      <!-- challenge -->
      <section class="project-challenge bg-dark">
        <div class="container">
          <div class="section-title d-flex flex-column align-items-center mb-lg-lg mb-5">
            <div class="fs-lg-4 text-teal">CHALLENGES</div>
            <div class="fs-2 fw-bold text-light mb-4">設計挑戰</div>
            <div class="fw-bold text-teal px-lg-5 py-lg-4 px-4 py-3 rounded-4 border border-teal fs-4 text-center">面對全新產業領域，<br class="d-lg-none">如何迅速掌握用戶需求並打造符合市場期待的平台？</div>
          </div>
          <!-- content -->
          <div class="challenge-content">
            <!-- challenge 01 -->
            <div class="row justify-content-center">
              <div class="col-lg-6 py-lg-4">
                <div class="feature-title text-light fw-bold fs-3 d-flex mb-3">
                  <span class="text-teal me-2">#</span>
                  深耕礦機交易本質，打造精準市場解決方案
                </div>
                <p class="challenge-desc text-light ps-4 mb-5">
                  礦機交易因其特殊性，與傳統電商平台有著顯著差異。為確保專案順利推展，我們的團隊投入大量資源進行深度市場研究，除了全面分析競品優劣勢，更著重研究投資者的交易模式與使用者行為。
                  <br>
                  <br>
                  透過系統性的需求分析，我們<span class="text-teal fw-medium">準確定位最小可行產品（MVP）的核心功能</span>，成功在一年內建構出符合市場需求的營運平台。
                </p>
              </div>
              <div class="col-lg-3 col-md-6">
                <img src="../assets/images/雲礦機/challenge01.jpg" alt="" class="rounded mb-3">
                <img src="../assets/images/雲礦機/challenge02.jpg" alt="" class="rounded">
                <p class="fs-6 text-light opacity-75 py-3">梳理平台所需功能與流程，打造可隨時投入市場的礦機平台</p>
              </div>
              <div class="col-lg-3 col-md-6">
                <img src="../assets/images/雲礦機/challenge03.jpg" alt="" class="rounded">
              </div>
            </div>
          </div>

        </div>
      </section>

      <!-- guideline -->
      <section class="project-guideline bg-gray">
        <div class="container">
          <div class="section-title d-flex flex-column align-items-center mb-lg-lg mb-5">
            <div class="fs-lg-4 text-success">GUIDELINE & WIREFRAME</div>
            <div class="fs-2 fw-bold text-dark">設計規範與線稿</div>
          </div>
          <div class="guideline-content">
            <div class="row justify-content-center mb-lg-lg mb-6 gy-lg-0 gy-4">
              <div class="col">
                <img src="../assets/images/雲礦機/guideline.jpg" alt="" class="shadow rounded">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-4 mb-lg-5 mb-4 py-lg-4">
                <div class="guideline-title text-dark fw-bold fs-3 d-flex mb-3">
                  <span class="text-teal me-2">#</span>
                  敏捷開發，即刻投入市場
                </div>
                <p class="guideline-desc ps-4">
                  為提升開發效率並減少溝通成本，採用 Axure 製作完整線框圖，搭配開發文件，實施敏捷開發流程。
                  <br>
                  <br>
                  透過持續迭代優化開發策略，我們得以階段性地完善功能，確保產品今年內快速進入市場。
                </p>
              </div>
              <div class="col-lg-8">
                <div>
                  <img src="../assets/images/雲礦機/wireframe.jpg" alt="" class="rounded shadow mb-3">
                  <p class="fs-6 text-center">繪製資訊架構圖，明確平台開發功能與方向</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>





    <%- include('./layout/footer'); -%>

    <!-- aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- main js -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
