<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-dark position-fixed w-100">
      <div class="container">
        <a class="navbar-brand fw-bold text-light py-3" href="../index.html">XUANNN</a>
        <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="material-symbols-outlined fs-1">
            menu
            </span>
        </button>
        <div class="collapse navbar-collapse pt-lg-0 pt-3" id="navbarNav">
          <ul class="navbar-nav ms-auto fw-medium d-flex align-items-center">
            <li class="nav-item mb-lg-0 mb-2">
              <a class="nav-link px-0" href="../index.html">WORK</a>
            </li>
            <li class="nav-item mb-lg-0 mb-3">
              <a class="nav-link px-0" href="/resume.pdf" download="陳子瑄_Resume.pdf">RESUME</a>
            </li>
            <li class="nav-item mb-lg-0 mb-3 contact btn btn-outline-light rounded-pill ms-lg-3 ms-0">
              <a class="nav-link px-0" href="#footer">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="misc-project pt-lg">
      <!-- banner -->
      <section class="project-banner p-0 overflow-hidden position-relative">
        <img src="../assets/images/其他專案/其他專案.jpg" alt="banner" class="banner-img">
        <div class="banner-info h-100 w-100 position-absolute top-0">
          <div class="container">
            <h1 class="fs-1 text-light fw-bold mb-2">各式專案｜MISC PROJECTS</h1>
            <p class="text-light">"近年來執行過的各項類型的專案展示"</p>
          </div>
        </div>
      </section>

      <!-- features -->
      <section class="project-list">
      <div class="container">
        <div class="list-item">
          <!-- goledn eagle -->
          <div class="item">
            <div class="item-text mb-lg-5 mb-4">
              <div class="subtitle fs-4 text-primary">
                虛擬貨幣APP設計·2023年10月
              </div>
              <div class="title fs-2 fw-bold text-dark mb-3">
                金鷹策略｜GOLDEN EAGLE STRATEGY
              </div>
              <p>
                金鷹策略為虛擬貨幣量化工具平台，幫助使用者串接交易所，透過精確的數據分析和即時量化策略，快速進行多幣種交易，實現快、狠、準的交易決策。考慮用戶需長期使用手機盯盤的需求，整體以深色調來做主體，以降低視覺疲勞。在輔色與重點色則以金色與高彩度的紅綠色凸顯提示說明，此設計不僅提升訊息易讀性，同時也符合金鷹策略所傳達專業、高級的品牌形象。
              </p>
            </div>
            <div class="row">
              <div class="col">
                <img src="../assets/images/其他專案/golden eagle.jpg" alt="" class="rounded-3 shadow">
              </div>
            </div>
          </div>

          <hr>

          <!-- %NIX -->
          <div class="item">
            <div class="item-text mb-lg-5 mb-4">
              <div class="subtitle fs-4 text-primary">
                品牌形象網站設計·2024年3月
              </div>
              <div class="title fs-2 fw-bold text-dark mb-3">
                %NIX｜PERCENT NIX
              </div>
              <p>
                %Nix以簡約、自然、質感為核心，提供用戶最天然與純粹的保養品。這次專案希望透過形象網站向大眾傳遞品牌的核心理念與商品特性，因此在網站的設計以以「線條」與「塊狀」拼接來呼應logo，表達產品修復再生的能力。使用單主色的彩度變化並搭配中性色，強調品牌單純自然的風格，以透明度變化顯示互動效果，並在畫面預留大量空白保留網站的簡約質感。這樣的視覺風格不僅聚焦在商品與內容，同時呼應%NIX純粹的品牌調性。
              </p>
            </div>
            <div class="row">
              <div class="col">
                <img src="../assets/images/其他專案/NIX.jpg" alt="" class="rounded-3 shadow">
              </div>
            </div>
          </div>

          <hr>

          <!-- 星號 -->
          <div class="item">
            <div class="item-text mb-5">
              <div class="subtitle fs-4 text-primary">
                活動網頁設計·2021年9月
              </div>
              <div class="title fs-2 fw-bold text-dark mb-3">
                星號嚮導系統｜STARNIC CUSTOM WEBSITE
              </div>
              <p>
                星號系統是星醫美學內部管理平台，主要整合管理各門市的 Google 評論與營運數據。系統透過累積的評論數據與顧客回饋，協助品牌建立完整的口碑追蹤機制。在後台設計上，我們採用大尺寸字體與按鈕，配合直覺的頁籤式篩選功能，讓管理者能輕鬆掌握各分店營運狀況。前台則導入智慧化的標籤系統，運用數據分析歸納過往評論中的高頻關鍵字，提供給顧客發表評論時選用，有效凸顯評論重點並提升內容品質。
              </p>
            </div>
            <div class="row gy-lg-0 gy-4">
              <div class="col-lg-6">
                <img src="../assets/images/其他專案/星號01.jpg" alt="" class="rounded-3 shadow h-100 object-fit-cover">
              </div>
              <div class="col-lg-6">
                <img src="../assets/images/其他專案/星號02.jpg" alt="" class="rounded-3 shadow mb-4">
                <img src="../assets/images/其他專案/星號03.jpg" alt="" class="rounded-3 shadow">
              </div>
            </div>
          </div>

          <hr>

          <!-- 官網 -->
          <div class="item">
            <div class="item-text mb-lg-5 mb-4">
              <div class="subtitle fs-4 text-primary">
                醫美官網設計·2021年3月
              </div>
              <div class="title fs-2 fw-bold text-dark mb-3">
                星醫美學集團官網｜STARNIC OFFICIAL WEBSITE
              </div>
              <p>
                星醫美學累積了豐富的商品與顧客評價，為優化用戶體驗，網站採用分類標籤、篩選器與關鍵字檢索系統，讓用戶能便捷地在不同類型的服務間相互連結瀏覽，有效提升網站的停留時間。在視覺上則以簡約的排列形式與單一色係，避免與圖片相互衝突，造成視覺疲勞。此外，網站採用瀑布流設計展示各類文章，讓用戶能快速瀏覽並有效率地獲取豐富資訊，打造直觀且便利的閱讀體驗。
              </p>
            </div>
            <div class="row gy-lg-0 gy-4">
              <div class="col-lg-6">
                <img src="../assets/images/其他專案/集團官網01.jpg" alt="" class="rounded-3 shadow">
              </div>
              <div class="col-lg-6">
                <img src="../assets/images/其他專案/集團官網02.jpg" alt="" class="rounded-3 shadow mb-4 img-detail">
                <img src="../assets/images/其他專案/集團官網03.jpg" alt="" class="rounded-3 shadow img-detail">
              </div>
            </div>
          </div>

        </div>
      </div>
      </section>
    </div>





    <%- include('./layout/footer'); -%>

    <!-- aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- main js -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
