<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); -%>
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container">
        <a class="navbar-brand fw-bold text-light py-3" href="../index.html">XUANNN</a>
        <button class="navbar-toggler text-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="material-symbols-outlined fs-1">
            menu
            </span>
        </button>
        <div class="collapse navbar-collapse pt-lg-0 pt-3" id="navbarNav">
          <ul class="navbar-nav ms-auto fw-medium d-flex align-items-center">
            <li class="nav-item mb-lg-0 mb-2">
              <a class="nav-link px-0" href="../index.html">WORK</a>
            </li>
            <li class="nav-item mb-lg-0 mb-3">
              <a class="nav-link px-0" href="../assets/resume.pdf" download="陳子瑄履歷 Resume">RESUME</a>
            </li>
            <li class="nav-item mb-lg-0 mb-3 contact btn btn-outline-light rounded-pill ms-lg-3 ms-0">
              <a class="nav-link px-0" href="#footer">CONTACT</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="preventive-healthcare">
      <!-- banner -->
      <section class="project-banner p-0 overflow-hidden position-relative">
        <img src="../assets/images/超預防/超預防banner.jpg" alt="banner" class="banner-img">
        <div class="banner-info h-100 w-100 position-absolute top-0">
          <div class="container">
            <h1 class="fs-1 text-light fw-bold mb-2">超預防醫學｜Preventive Healthcare</h1>
            <p class="text-light">"專業醫療，觸手可及，守護健康零距離"</p>
          </div>
        </div>
      </section>

      <!-- introduction -->
      <section class="project-introduction bg-gray">
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <!-- introduction video -->
          <div class="col-xl-7">
            <img src="../assets/images/超預防/超預防.gif" alt="" class="introduction-video mb-xl-0 mb-5">
          </div>
          <!-- introduction description -->
          <div class="col-xl-5">
            <div class="introduction-content border-bottom pb-lg-md pb-4 mb-4">
              <div class="overview mb-lg-6 mb-xs">
                <div class="title text-dark mb-2 fw-medium">
                  簡介 INTRODUCTION
                </div>
                <p class="desc fs-6">
                  超預防醫學提供B2C/B2B的線上諮詢平台，致力於為世界各地的患者提供優質的醫療諮詢服務。透過與全台百家名醫合作，為平台提供全面的醫療評估、專業檢測及健康管理建議。這次的專案旨在打造一個直觀、高效的醫療預約網站，幫助患者及早預防潛在健康問題。
                </p>
              </div>
              <div class="d-flex flex-lg-row flex-column">
                <div class="duration mb-lg-0 mb-xs">
                  <div class="title text-dark mb-2 fw-medium">
                    時程 DURATION
                  </div>
                  <p class="desc fs-6">
                    2023年3月 – 2024年5月
                  </p>
                </div>
                <div class="role">
                  <div class="title text-dark mb-2 fw-medium">
                    角色 MY ROLE
                  </div>
                  <p class="desc fs-6">
                    風格提案、設計規範、網頁視覺、線稿製作、後台規劃
                  </p>
                </div>
              </div>
            </div>
            <!-- project tag -->
            <ul class="project-tags d-flex align-items-center text-indigo fw-medium">
              <li class="me-3"># 醫療領域</li>
              <li class="me-3"># 線上諮詢平台</li>
              <li># 預約系統</li>
            </ul>
          </div>
        </div>
      </div>
      </section>

      <!-- features -->
      <section class="project-features">
      <div class="container">
        <div class="section-title text-center mb-lg-lg mb-5">
          <div class="fs-lg-4 text-indigo">FEATURES</div>
          <div class="fs-2 fw-bold text-dark">專案特色</div>
        </div>
        <!-- content -->
        <div class="feature-content">
          <!-- feature 01 -->
          <div class="row justify-content-center gx-5">
            <div class="col-xl-5 mb-xl-0 mb-4 py-xl-4">
              <div class="feature-title text-dark fw-bold fs-4 d-flex mb-3">
                <span class="text-blue me-2">#</span>
                百大名醫，資訊透明，專業服務安心問診
              </div>
              <p class="feature-desc ps-4">
                與全台醫院合作，邀請醫師線上問診，將每位醫師的背景與專業以卡片式呈現，方便使用者可以快速瀏覽。
                <br>
                <br>
                同時串接衛福部資料，設計一份篩選表單，方便使用者依據價格、醫院、部位或疾病類型等項目快速查找適合自己的問診醫師。
              </p>
            </div>
            <div class="col-xl-7 position-relative">
              <img src="../assets/images/超預防/home_table.jpg" alt="" class="feature-img-1 shadow rounded mb-lg-0 mb-5">
              <img src="../assets/images/超預防/doctor_list.jpg" alt="" class="position-absolute feature-img-2 shadow bottom-0 start-0 w-50">
            </div>
          </div>

          <hr>

          <!-- feature 02 -->
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="feature-title text-dark fw-bold fs-4 d-flex mb-3">
                <span class="text-blue me-2">#</span>
                增加裝置測試與監控，確保諮詢體驗流暢度
              </div>
              <p class="feature-desc ps-4 mb-5">
                為確保諮詢體驗的流暢與穩定，進入諮詢室前增加裝置連線測試流程。參與者透過兩階段的連線測試來確認設備皆有開啟影音授權，以及網路環境是否順暢。當進入諮詢會議室後，畫面右上顯示網路、裝置授權、麥克風標誌，方便管理者能夠即時掌握與會者當前狀態並協助排除突發狀況。
              </p>
            </div>
            <div class="col-lg-6 mb-lg-0 mb-5">
              <img src="../assets/images/超預防/裝置連線測試.jpg" alt="" class="mb-3 feature-img rounded shadow">
              <p class="fs-6 text-center">進入諮詢前裝置設備與環境測試</p>
            </div>
            <div class="col-lg-6">
              <img src="../assets/images/超預防/consulting_room.jpg" alt="" class="mb-3 feature-img rounded shadow">
              <p class="fs-6 text-center">諮詢室畫面與連線監控</p>
            </div>
          </div>
        </div>
      </div>
      </section>

      <!-- challenge -->
      <section class="project-challenge bg-dark">
        <div class="container">
          <div class="section-title d-flex flex-column align-items-center mb-lg-lg mb-5">
            <div class="fs-lg-4 text-blue">CHALLENGES</div>
            <div class="fs-2 fw-bold text-light mb-4">設計挑戰</div>
            <div class="fw-bold text-blue px-lg-5 py-lg-4 px-4 py-3 rounded-4 border border-blue fs-4 text-center">面對大量預約資訊，<br class="d-lg-none">如何讓管理員輕鬆上手且符合日常流程的管理介面？</div>
          </div>
          <!-- content -->
          <div class="challenge-content">
            <!-- challenge 01 -->
            <div class="row justify-content-center">
              <div class="col-12">
                <div class="feature-title text-light fw-bold fs-3 d-flex mb-3">
                  <span class="text-blue me-2">#</span>
                  標準化後台預約流程，資訊操作一目瞭然
                </div>
                <p class="challenge-desc text-light ps-4 mb-5">
                  以機票為靈感，將後台的預約管理編排成票卷形式，將不同類別的資料與功能區分方便管理人員能夠更直覺的操作。一張訂單管理卡片包含了10個以上
                  的功能操作，除了手動設定外，也配合系統自動化功能，根據不同情境下切換按鈕與選單的狀態，確保每位用戶的訂單都能完整的執行。
                </p>
              </div>
              <div class="col-12">
                <div class="d-flex px-md-4 img-detail mb-3 w-100">
                  <p class="fs-6 text-light px-md-3 px-2 border-start opacity-75">客戶資料</p>
                  <p class="fs-6 text-light px-md-3 px-2 border-start opacity-75">諮詢時程</p>
                  <p class="fs-6 text-light px-md-3 px-2 border-start opacity-75">相關人員</p>
                </div>
                <img src="../assets/images/超預防/backstage_list.jpg" alt="" class="feature-img rounded w-100">
              </div>
            </div>
            <hr>
            <!-- challenge 02 -->
            <div class="row flex-row-reverse justify-content-center">
              <div class="col-xl-5 mb-4 py-xl-4">
                <div class="feature-title text-light fw-bold fs-3 d-flex mb-3">
                  <span class="text-blue me-2">#</span>
                  突破傳統限制，貼近使用者情境
                </div>
                <p class="challenge-desc text-light ps-4">
                  打破以往後台表格的形式，超預防醫學嘗試將資料
                  集中成一張張卡片，避免表格需左右滾動的困擾，
                  能在同一畫面完整瀏覽所有資訊。在使用上更符合
                  流程的介面設計，不僅提升管理效率，同時也為平
                  台從啟用至今<span class="text-blue fw-medium align-bottom">吸引超過300名以上的用戶預約</span>。
                </p>
              </div>
              <div class="col-xl-7 position-relative">
                <div class="overflow-hidden bg-blue img-box rounded text-center">
                  <img src="../assets/images/超預防/backstage_table.jpg" alt="" class="feature-img">
                </div>
              </div>
  
            </div>
          </div>

        </div>
      </section>

      <!-- guideline -->
      <section class="project-guideline bg-gray">
        <div class="container">
          <div class="section-title d-flex flex-column align-items-center mb-lg-lg mb-5">
            <div class="fs-lg-4 text-indigo">GUIDELINE & WIREFRAME</div>
            <div class="fs-2 fw-bold text-dark">設計規範與線稿</div>
          </div>
          <div class="guideline-content">
            <div class="row justify-content-center mb-lg-lg mb-6 gy-lg-0 gy-4">
              <div class="col-lg-6">
                <img src="../assets/images/超預防/guideline.jpg" alt="" class="shadow rounded">
              </div>
              <div class="col-lg-6">
                <img src="../assets/images/超預防/component.jpg" alt="" class="shadow rounded h-100">
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-lg-12 mb-lg-5 mb-4">
                <div class="guideline-title text-dark fw-bold fs-3 d-flex mb-3">
                  <span class="text-blue me-2">#</span>
                  善加利用線稿圖，降低溝通成本，提升專案進程
                </div>
                <p class="guideline-desc ps-4">
                  在進入設計與開發前，利用Axure製作網站的線匡圖與專案經理及前後端工程師進行溝通，將畫面與流程具象化，不僅有效釐清系統邏輯，同時幫助彼此快速掌握網站的進度，減少反覆修改的時間成本。
                </p>
              </div>
              <div class="col-lg-12">
                <div>
                  <video src="../assets/images/超預防/超預防－設計規範2.mov" class="rounded shadow w-100" autoplay muted loop></video>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>





    <%- include('./layout/footer'); -%>

    <!-- aos -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- main js -->
    <script type="module" src="../main.js"></script>
  </body>
</html>
